.shell-dashboard {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: calc(100vh - 70px); /* resta el header fijo */
  background-color: var(--bg);
}