.shell-header {
  height: 75px;
  min-height: 75px;
  max-height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  background-color: var(--card-bg);
  color: var(--text);
  gap: 1rem;
  border-bottom: 1px solid var(--hover);
}

.shell-header-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.shell-header-center {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.shell-header-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.shell-header-title img {
  filter: var(--logo-filter);
}

:root {
  --logo-filter: none;
}

[data-theme="dark"] {
  --logo-filter: brightness(1.2);
}

